.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.bg-card {
	background-color: #f2f4f5;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 25px;
	margin-right: 25px;
	width: 100%;
}
.bg-card-heading {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.line {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.main-card {
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 25px;
	margin-right: 25px;
	width: 70%;
}

.main-card ul {
	margin: 0;
}

.manage-items-list {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	justify-content: center;
}

.manage-items-list li {
	margin-left: 10px;
	margin-right: 10px;
}

.manage-items-list li button:enabled {
	font-size: 15.4px;
	line-height: 18px;
	background: #fafafa;
	box-shadow: 0px 4.4px 4.4px rgba(0, 0, 0, 0.25);
	border-radius: 11px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.manage-items-list li button:disabled {
	font-size: 15.4px;
	line-height: 18px;
	background: #00bcd4;
	box-shadow: 0px 4.4px 4.4px rgba(0, 0, 0, 0.25);
	border-radius: 11px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
}

.main-card-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-card-head input {
	border-radius: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: #f4f5f9;
	font-style: italic;
}

.main-card-head input:focus {
	outline: none;
}

.main-card-heading {
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.input-div {
	display: flex;
	background: #f4f5f9;
	border-radius: 70px;
	align-items: center;
	padding-right: 10px;
	margin-bottom: 10px;
	font-style: italic;
}

.search-button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.categories-table {
	border-collapse: separate;
	border-spacing: 0 15px;
	width: 100%;
}

.categories-table tr {
	font-weight: 500;
}
.categories-table td {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.categories-table tr:nth-child(even) {
	background: #edf1f2;
}

.categories-table tr:nth-child(odd) {
	background: #f9f9f9;
}

.categories-table-div {
	margin-top: 10px;
	width: 100%;
}

.buttons button {
	box-shadow: 0px 2.62941px 2.62941px rgba(0, 0, 0, 0.25);
	border-radius: 6.57353px;
	border: none;
	color: #ffffff;
	font-weight: 500;
	padding: 3px 10px;
	margin-left: 10px;
	background-color: #e90822;
	cursor: pointer;
}

.buttons :nth-child(1) {
	background-color: #3f9d05;
}
.buttons :nth-child(2) {
	background-color: #e8b103;
}

@media all and (max-width: 480px) {
	.main-card-head {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.add-item-div {
	background-color: #edf1f2;
	padding: 10px 20px;
	display: flex;
	justify-content: space-around;
}
.add-item-div span {
	text-align: center;
	flex: 1;
	color: #348105;
	font-weight: 500;
}
.add-item-div ::placeholder {
	color: #000000;
}
.add-item-div input {
	flex: 2;
	background: #ffffff;
	border: 0.809382px solid #10389b;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 2px 10px;
	color: black;
}

.add-item-div button {
	background-color: #edf1f2;
	background: #10389b;
	box-shadow: 0px 3.34545px 3.34545px rgba(0, 0, 0, 0.25);
	border-radius: 8.36362px;
	color: #ffffff;
	font-weight: 500;
	line-height: 14px;
	border: none;
	padding: 5px 10px;
	margin-left: 40px;
	margin-right: 40px;
	cursor: pointer;
}

@media all and (max-width: 480px) {
	.add-item-div {
		flex-direction: column;
		align-items: center;
	}
	.add-item-div * {
		margin-top: 10px;
	}
}
